---
title: Documentation for a Technical/Developer-focused Product
---

%h1 The best
%p
  Attlasian, because it gives clear step to develop requirements document.
  Located at: = link_to "Attlasian requirements", "https://www.atlassian.com/agile/requirements"
%p
  = link_to "Back to home", "/"