---
title: Favorite thing about providing technical support
---

%h1 Favorite thing about providing technical support
%p
  My favorite are help and keep them happy with my support
%p
  = link_to "Back to home", "/"