---
title: Yosef workspace
---

.welcome
  %h1 Welcome to my workspace, build with Middleman
  %p.doc
    = link_to "More about Yosef", "https://github.com/fybwid/"
  %p
  %p.doc
    %a.btn.btn-blue{:href => "most-favorite-and-least-favorite-to-do"} Most favorite and least favorite to do
    %a.btn.btn-blue{:href => "favorite-thing-about-providing-technical-support"} Favorite thing about providing technical support
  %p
  %p.doc
    %a.btn.btn-blue{:href => "netlify-service"} Netlify service
    %a.btn.btn-blue{:href => "setting-up-this-site"} Setting up this site
  %p
  %p.doc
    %a.btn.btn-blue{:href => "documentation-for-a-technical-developer-focused-product"} Documentation for a technical developer focused product
    %a.btn.btn-blue{:href => "SSL-HTTPS-is-important"} SSL/HTTPS is important?
  %p
  %p.doc
    %a.btn.btn-blue{:href => "site-wont-build"} Site wont build