---
title: Major Challenges Around DNS Configuration
---

%h1 There are 2 major challenges
%p
  System administration: to compile new name servers, edit zone data files, write configuration files.
%p
  Network management: to understand IP addresses and subnets.
%p
  = link_to "Back to home", "/"