---
title: Most favorite and least favorite to do
---

%h1 Most favorite and least favorite to do
%p
  From that list, as a Support Engineer I chose to study and love those listed and might not listed.
%button
  = link_to "Back to home", "/"