---
title: Setting Up This Site
---

%h1 Setting Up This Site
%p
  Before using Middleman, I try to use Gatsby.
  After using both, I choose Middleman over Gatsby and in the future open to learn others.
%p
  = link_to "Back to home", "/"