---
title: Site Won't Build
---

%h1 Site Won't Build
%p
  Can you help me to better understand the problem, starting with the sequence of steps that you do until the error occurs accompanied by a screenshot.
%p
  = link_to "Back to home", "/"